
  <h2>sign up</h2>
  <div class="devise-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
         <%= f.label :user_name, "ユーザ名" %><br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", placeholder:"yamataro", class: "user-form" %>
      </div>

      <div class="field">
        <%= f.label :name, "名前（漢字）" %>
        <%= f.text_field :name_kanji, autofocus: true, autocomplete: "name", placeholder:"山田太郎", class: "user-form" %>
      </div>

      <div class="field">
        <%= f.label :name_kana, "名前（カナ）" %><br />
        <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", placeholder:"ヤマダタロウ", class: "user-form" %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"yamada@exmple.com", class: "user-form" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（#{@minimum_password_length}文字以上）" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "user-form" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-form" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" ,class: "btn-1" %>
      </div>
      <%= render "devise/shared/links" %>

    <% end %>

  </div>
