<h5>店舗情報</h5>

<table>
	<thead>
		<th></th>
		<th></th>
		<th></th>
	</thead>

	<tbody>
		<tr>
			<td>店舗名</td>
			<td><%= restaurant.name %></td>
		</tr>

		<tr>
			<td>支店名</td>
			<td><%= restaurant.branch %></td>
		</tr>

		<tr>
			<td>店舗名（カナ）</td>
			<td><%= restaurant.name_kana %></td>
		</tr>

		<tr>
			<td>住所</td>
			<td><%= restaurant.postcode %></td>
			<td><%= restaurant.address %></td>
		</tr>

		<tr>
			<td>電話番号</td>
			<td>< % restaurant.tel %></td>
		</tr>

		<tr>
			<td>ランチタイム</td>
			<td>平日<%= restaurant.weekday_lunchtime %></td>
			<td>土日<%= restaurant.weedend_lunchtime %></td>
		</tr>

		<tr>
			<td>定休日</td>
			<td><%= restaurant.holiday %></td>
		</tr>

		<tr>
			<td>座席数</td>
			<td><%= restaurant.seat %>席</td>
		</tr>

		<tr>
			<td>HPリンク</td>
			<td><%= restaurant.homepage %></td>
		</tr>

		<tr>
			<td>立食　有・無</td>
			<td><%= restaurant.standing_i18n %></td>
		</tr>

		<tr>
			<td>喫煙席</td>
			<td><%= restaurant.smoking_i18n %></td>
		</tr>


		<tr>
			<td>開店　有・無</td>
			<td><%= restaurant.closed_i18n %></td>
		</tr>

	</tbody>
</table>