<h2>RESTAURANT INDEX</h2>

<div class="r-index-inner">

	<div class="r-search-form">
		<%= search_form_for @q do |f| %>
			<%= f.label :name_cont,"店名" %>
			<%= f.search_field :name_cont, spaceholder:"店名" %>
			<%= f.label :address_cont,"住所" %>
			<%= f.search_field :address_cont, spaceholder:"店名" %>
			<%= f.submit "検索" %>

			<div class="new-r">
				<%= link_to "新規店舗追加", new_restaurant_path, class: "btn-new-r" %>
			</div>
		<% end %>
	</div>

	<div class="r-index">
		<table>
			<thead>
				<th><%= sort_link(@q, :name, "店名") %></th>
				<th><%= sort_link(@q, :address, "住所") %></th>
				<th><%= sort_link(@q, :rate_avg, "平均点") %></th>
				<th>詳細リンク</th>
			</thead>

			<tbody>
				<% @restaurants.each do |restaurant| %>
				<tr>
					<td><%= restaurant.name %></td>
					<td><%= restaurant.address %></td>
					<td>
						<div id="star-rate-<%= restaurant.id %>">
							<%= restaurant.restaurant_ave_rate %>
						</div>
						<script>
							$('#star-rate-<%= restaurant.id %>').raty({
							size: 36,
							starOff:  '<%= asset_path('star-off.png') %>',
							starOn : '<%= asset_path('star-on.png') %>',
							starHalf: '<%= asset_path('star-half.png') %>',
							half: true,
							readOnly: true,
							score: <%= restaurant.restaurant_ave_rate %>,
							});
						</script>
					</td>
					<td><div class="r-show-link"><%= link_to "店舗詳細",restaurant_path(restaurant) ,class: "r-show-link-btn" %></div></td>
				</tr>

				<% end %>
			</tbody>
		</table>
	</div>
</div>

