<div class="p-index">

	<h2>YOUR POSTS</h2>

	<table class="post-form">
		<thead>
			<th class="th-w20"></th>
			<th class="th-w50"></th>
			<th class="th-w30"></th>

		</thead>

		<tbody>
			<% @posts.each do |post| %>
			<tr >
				<td>店名</td>
				<td ><%= post.restaurant.name %></td>
				<td rowspan="5" class="p-index-td">
					<%= link_to "詳細", restaurant_post_path(post.restaurant.id,post.id),class: "btn-sub" %>
					<% if post.user.id == current_user.id %>
						<%= link_to "編集する", edit_restaurant_post_path(post.restaurant.id,post.id),class: "btn" %>
					<% end %>
				</td>

			</tr>

			<tr>
				<td>住所</td>
				<td ><%= post.restaurant.address %></td>
			</tr>

			<tr>
				<td>評価</td>
				<td><%= post.rate %></td>
			</tr>

			<tr>
				<td>コメント</td>
				<td><%= post.comment.truncate(24) %></td>
			</tr>

			<tr >
				<td class="p-index-td">タグ</td>
				<td class="p-index-td"><%= post.tag_list %></td>
			</tr>


		<% end %>
		</tbody>
	</table>
			<%= paginate @posts %>

</div>
